<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppPortalCarros</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
            <div class="container">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand">Portal de Carros</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a asp-controller="Carro" asp-action="Create" class="nav-link">Carro</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Dono" asp-action="Index" class="nav-link">Dono</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--Showcase-->
    <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container ">
            <div class="d-sm-flex  my-5 align-items-center justify-content-between">
                <div>
                    <h1>Seja Bem Vindo ao <span class="text-warning">Portal dos Carros</span></h1>
                    <p class="lead my-4">
                        Aqui é o lugar para fechar grandes oportunidades! Acompanhe nossas novidades!
                    </p>
                    <button class="btn btn-primary btn-lg m-5" data-bs-toggle="modal" data-bs-target="#enroll">Ver Oportunidades</button>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="~/img/toyota-hilux---REMIX.svg" alt="" />
            </div>
        </div>
    </section>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
    <footer class="p-5 bg-warning text-black text-center position-relative ">
        <div class="container">
            <p class="lead">Copyright &copy; 2021 Portal dos Carros - Developer Myrella</p>

            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
