@model WebAppPortalCarros.Models.ViewModel.DonoViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="form-body container mb-3">
    <main>

        <div class="row g-5">

            <div class="col-md-12 col-lg-12 ">
                <h4 class="mb-3">Detalhes Proprietário de Carro</h4>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label asp-for="Dono.Nome" class="form-label"></label>
                            <input asp-for="Dono.Nome" type="text" class="form-control" id="firstName" placeholder="" value="" disabled="disabled">
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="Dono.NIF" class="form-label"></label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"></span>
                                <input asp-for="Dono.NIF" type="text" class="form-control" id="username" placeholder="NIF" disabled="disabled">
                            </div>
                        </div>

                        <div class="col-12">
                            <label asp-for="Email.EmailDono" class="form-label">Email <span class="text-muted">(mais utilizado)</span></label>
                            <input asp-for="Email.EmailDono" type="email" class="form-control" id="email" placeholder="you@example.com" disabled="disabled">
                        </div>

                        <div class="col-10">
                            <label asp-for="Morada.Rua" class="form-label"></label>
                            <input asp-for="Morada.Rua" type="text" class="form-control" id="address" placeholder="1234 Main St" disabled="disabled">
                        </div>

                        <div class="col-2">
                            <label asp-for="Morada.Numero" class="form-label"></label>
                            <input asp-for="Morada.Numero" type="text" class="form-control" id="address" placeholder="1234 Main St" disabled="disabled">
                        </div>

                        <div class="col-md-5">
                            <label asp-for="Morada.Pais" class="form-label"></label>
                            @*<div class="col-md-12">
                                    @Html.DropDownListFor(m => m.Pais.PaisID,
                                    new SelectList(ViewBag.Paises, "PaisID", "NomePais"),
                                    "Choose...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Pais.PaisID, "", new { @class = "text-danger" })
                                </div>*@
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Morada.DistritoID" for="state" class="form-label">Distrito</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.Morada.DistritoID,
                                new SelectList(ViewBag.Distritos, "DistritoID", "NomeDistrito"),
                                "Choose...", new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.Morada.Distrito, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Morada.CodigoPostal" class="form-label"></label>
                            <input asp-for="Morada.CodigoPostal" type="text" class="form-control" id="zip" placeholder="" disabled="disabled">
                        </div>
                    </div>

                    <hr class="my-4">
                    <div class="row gy-3 mb-3">
                        <div class="col-md-3">
                            <label asp-for="Contacto.SufixoContacto" class="form-label"></label>
                            <input asp-for="Contacto.SufixoContacto" type="text" class="form-control" id="cc-expiration" placeholder="" disabled="disabled">
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Contacto.NumeroContacto" class="form-label"></label>
                            <input asp-for="Contacto.NumeroContacto" type="text" class="form-control" id="cc-cvv" placeholder="" disabled="disabled">
                        </div>
                    </div>

                    <hr class="my-4">
            </div>
        </div>
    </main>
</div>


@section Scripts{

}


