@{
    var nomeCor = ViewBag.Cores;
    var qtdCor = ViewBag.Quantidade;

    var qtdSerializado = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(qtdCor));
    var coresSerializado = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(nomeCor));
}

<section>
    <div class="container">
        <canvas id="myChart" width="660" height="371"></canvas>
    </div>
</section>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        var qtdCor = @qtdSerializado;
        var nomeCor = @coresSerializado;
        alert(nomeCor);
        $(document).ready(function () {
            var ctx = $('#myChart');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: nomeCor,
                    datasets: [
                        {
                            data: qtdCor,
                            label: "Cores mais vendidas",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"]
                            //data: [2478, 5267, 734, 784, 433]
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: 'Cores mais vendidas (mil) em 2021'
                    }
                }
            });
        })

    </script>
}


